@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	display: grid;
	grid-template-rows: 120px auto 80px;
	height: 100vh;
	width: 1600px;
	margin: 0 auto;
}

header {
	background-color: floralwhite;
	border-bottom: 5px solid black;
	border-bottom-right-radius: 5%;
	border-bottom-left-radius: 5%;
	display: flex;
	justify-content: space-between;
	padding-top: 15px;
}

.head_left {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
	padding-left: 50px;
}

h1 {
	font-weight: bold;
	margin-left: 20px;
	font-size: 60px;
	text-align: center;
}

.head_left>a>img {
	height: 100px;
}

.head_right {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-end;
	padding-right: 50px;
}

.nav_menu, .nav {
	display: flex;
	justify-content: flex-end;
}

ul {
	list-style: none;
	display: flex;
	align-items: center;
}

li {
	padding-left: 30px;
}

section {
	background-color: whitesmoke;
	padding: 20px;
}

footer {
	background-color: floralwhite;
	border-top: 5px solid black;
	border-top-right-radius: 5%;
	border-top-left-radius: 5%;
	display: flex;
	justify-content: space-between;
}

.foot_left {
	margin: 20px 0 0 50px;
}

.foot_right {
	display: flex;
	align-items: center;
	margin-right: 100px;
}

.foot_right>img {
	height: 75px
}

.foot_right>p {
	font-weight: bold;
	font-size: 20px
}

h2 {
	margin: auto;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
	font-size: 65px;
	border-bottom: 2px black solid;
}

form {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: fit-content;
	margin: auto;
}

table {
	margin-bottom: 30px;
}

td, th {
	padding: 10px
}

input:not(#regi_button, #postcode, #login_button, #leave_button,
	#transfer_button, #update_button, #updatePassword_button) {
	/* border : none;
	 */
	width: 250px;
	height: 30px;
	font-size: 15px;
	padding-left: 10px;
	background-color: rgb(233, 233, 233);
	border-width: 0px;
	border-style: initial;
	border-color: initial;
	border-image: initial;
	border-radius: 15px;
	outline: none;
	margin: 5px;
}

#sample4_postcode, #postcode {
	width: 100px;
}

#postcode {
	font-size: 15px;
}

#regi_button, #login_button, #update_button{
	width: 300px;
	height: 50px;
	font-size: 30px;
	background-color: skyblue;
	color: black;
	border-color: smokewhite;
	margin-bottom: 30px;
}

.info_button>input{
	width: 180px;
	height: 40px;
	font-size: 20px;
	background-color: skyblue;
	color: black;
	border-color: smokewhite;
	margin-bottom: 30px;
}

.login {
	padding: 40px;
	display: flex;
	flex-direction: column;
}

.login>span {
	font-size: 25px;
}

.login>input[type="submit"] {
	height: 50px;
}

.info_button {
	display: flex;
	gap: 50px;
}

.notice_box{
	position:relative;
}

.notice_box>input{
	position:absolute;
	top:50px;
	right:10px;
}

#board_title{
	width:50%;
}